html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    line-height: 1.2;
    color: #262626;
    font-family: Oswald;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: 1720px;

    @media (max-width: 1780px) {
        max-width: none;
        padding-inline: 30px;
    }

    @media (max-width: 1024px) {
        padding-inline: 15px;
    }

    @media (max-width: 768px) {
        padding-inline: 10px;
    }
}

section {
    &:last-of-type {
        margin-bottom: 0 !important;
    }
}

h1,
h2 {
    @include adaptive-value("font-size", 40, 24, 1);
    font-family: Oswald;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    color: #fff;
}

h2 {
    color: #262626;
}

a {
    color: inherit;
}

img,
svg {
    display: block;
}

table,
thead,
tbody,
tr,
td {
    display: block;
}

._button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 2px solid #fff;
    padding: 0 12px;
    color: #fff;

    @include adaptive-value("font-size", 20, 16, 1);
    @include adaptive-value("height", 69, 52, 1);
    width: 100%;

    font-family: Oswald;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    // ._button-gradient

    &-gradient {
        background: linear-gradient(133deg, #ff008a 0%, #ff004d 100%);
        border-color: transparent;
    }

    // ._button-backdrop

    &-backdrop {
        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.12);
            backdrop-filter: blur(2px);
            z-index: -1;
        }
    }
}

._text {
    font-size: 20px;
    font-family: Nunito;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    a {
        color: #0085ff;
        border-bottom: 1px solid #0085ff;
    }
}

table {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 85px 0px rgba(200, 200, 200, 0.5);

    @media (max-width: 768px) {
        width: 100vw;
        margin-left: -10px;
    }

    tr {
        display: grid;
        grid-template-columns: 20.6% 27.6% 1fr;
    }

    td {
        flex: 1 1 auto;
        background-color: #fff;
    }

    p {
        padding: 1em;
    }

    thead tr > :not(:first-child),
    tbody tr > :not(:first-child) {
        padding-left: 6.77vw;

        border-left: 1px solid #f3f3f3;
    }

    @media (max-width: 1200px) {
        thead tr > :not(:first-child),
        tbody tr > :not(:first-child) {
            padding-left: 30px;
        }

        tr {
            grid-template-columns: 25% 30% 1fr;
        }
    }

    @media (max-width: 1024px) {
        thead tr > :not(:first-child),
        tbody tr > :not(:first-child) {
            padding-left: 0;
        }

        tr {
            grid-template-columns: 30% 30% 1fr;
        }
    }

    @media (max-width: 768px) {
        tr {
            grid-template-columns: 27% 33% 1fr;
        }
    }

    thead {
        p {
            color: #484848;
            font-family: Oswald;
            font-weight: 700;
            text-transform: uppercase;

            @include adaptive-value("font-size", 20, 16, 1);

            @media (max-width: 768px) {
                padding: 15px 10px;
            }
        }

        @media (max-width: 768px) {
            td {
                display: flex;
                align-items: center;
            }
        }
    }

    tbody {
        p {
            font-family: Montserrat;
            @include adaptive-value("font-size", 20, 14, 1);

            @media (max-width: 768px) {
                padding: 5px 10px;
            }
        }

        tr {
            border-top: 1px solid #f3f3f3;

            & > :first-child {
                color: #0085ff;
            }
        }
    }
}

.check-list {
    margin-bottom: 70px;

    h2 {
        margin-bottom: 30px;
    }

    ol {
        h3 {
            margin-bottom: 15px;
        }

        li {
            color: #262626;
            font-size: 20px;
            font-family: Nunito;
            margin-bottom: 10px;
            position: relative;
            padding-left: 42px;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 27px;
                height: 27px;
                background-image: url("@img/game-catalog/chekced.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            span {
                font-weight: 900;
            }
        }
    }
}
