html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    line-height: 1.2;
    color: #262626;
    font-family: Oswald;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: 1720px;

    @media (max-width: 1780px) {
        max-width: none;
        padding-inline: 30px;
    }

    @media (max-width: 1024px) {
        padding-inline: 15px;
    }

    @media (max-width: 768px) {
        padding-inline: 10px;
    }
}

section {
}

h1 {
    @include adaptive-value("font-size", 40, 24, 1);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    @include adaptive-value("font-size", 40, 28, 1);
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: inherit;
}

img,
svg {
    display: block;
}

table,
thead,
tbody,
tr,
td {
    // display: block;
}

._logo {
    position: relative;

    .ellipse {
        width: 87%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

._button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 2px solid #fff;
    padding: 0 12px;
    color: #fff;

    @include adaptive-value("font-size", 20, 16, 1);
    @include adaptive-value("height", 69, 52, 1);
    width: 100%;

    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background: linear-gradient(133deg, #ff008a 0%, #ff004d 100%);
            border-color: transparent;
        }
    }

    // ._button-gradient

    &-gradient {
        background: linear-gradient(133deg, #ff008a 0%, #ff004d 100%);
        border-color: transparent;

        @media (any-hover: hover) {
            &:hover {
                background: transparent;
                border-color: #ff008a;
                color: #ff008a;
            }
        }
    }

    // ._button-backdrop

    &-backdrop {
        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.12);
            backdrop-filter: blur(2px);
            z-index: -1;
        }
    }
}

._text {
    font-size: 20px;
    font-family: Nunito;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    a {
        color: #0085ff;
        border-bottom: 1px solid currentColor;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: #ff008a;
            }
        }
    }
}

table {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 85px 0px rgba(200, 200, 200, 0.5);
    border-collapse: unset;
    border-spacing: 0;
    margin-top: 35px;

    tr {
        // display: flex;
    }

    td {
        // flex: 1 1 auto;
    }

    p {
        padding: 1em !important;

        @media (max-width: 768px) {
            padding: 1em 0.5em !important;
        }
    }

    td {
        border: 1px solid rgba($color: #f3f3f3, $alpha: 0.5) !important;
        background-color: #fff;
        padding: 1em !important;
        vertical-align: top;

        @media (max-width: 768px) {
            padding: 5px 10px !important;
        }
    }

    @media (max-width: 1200px) {
    }

    @media (max-width: 1024px) {
    }

    thead {
        p,
        td {
            color: #484848;
            font-family: Oswald;
            font-weight: 700;
            text-transform: uppercase;

            @include adaptive-value("font-size", 20, 16, 1);

            @media (max-width: 768px) {
                padding: 15px 10px;
            }
        }
    }

    tbody {
        p,
        td {
            font-family: Montserrat;
            @include adaptive-value("font-size", 20, 14, 1);
        }

        tr {
            & > :first-child {
                color: #0085ff;
            }
        }

        & > :first-child {
            p,
            td {
                color: #484848;
                font-family: Oswald;
                font-weight: 700;
                text-transform: uppercase;

                @include adaptive-value("font-size", 20, 16, 1);

                @media (max-width: 768px) {
                    vertical-align: middle;
                }
            }
        }
    }
}

.check-list {
    margin-bottom: 70px;

    h2 {
        margin-bottom: 30px;
    }

    ol {
        h3 {
            margin-bottom: 15px;
        }

        li {
            color: #262626;
            font-size: 20px;
            font-family: Nunito;
            margin-bottom: 10px;
            position: relative;
            padding-left: 42px;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 27px;
                height: 27px;
                background-image: url("@img/game-catalog/chekced.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }

            span {
                font-weight: 900;
            }
        }
    }
}

.breadcambs {
    @include adaptive-value("margin-bottom", 52, 30, 1);

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 425px) {
            flex-direction: column;
            align-items: flex-start;
        }

        & > :not(:last-child) {
            margin-right: 44px;

            @media (max-width: 425px) {
                margin-right: 0;
                margin-bottom: 8px;
            }
        }

        li {
            a {
                color: #262626;
                font-family: Oswald;
                font-weight: 700;
                text-transform: uppercase;
                @include adaptive-value("font-size", 24, 16, 1);

                display: flex;
                align-items: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 auto;
                    border-radius: 50%;
                    background: linear-gradient(133deg, #ff008a 0%, #ff004d 100%);

                    margin-left: 20px;

                    @include adaptive-value("width", 40, 23, 1);
                    @include adaptive-value("height", 40, 23, 1);

                    @media (max-width: 768px) {
                        margin-left: 16px;
                    }

                    svg {
                        width: 32.5%;
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}
