.flex {
    @include adaptive-value("margin-bottom", 70, 40, 1);

    // .flex__container

    &__container {
    }

    // .flex__body

    &__body {
    }

    // .flex__check

    &__check {
        h2 {
            margin-bottom: 30px;
        }

        ol {
            margin-bottom: 50px;

            h3 {
                margin-bottom: 15px;
                font-size: 24px;
                font-family: Oswald;
                font-weight: 700;
            }

            li {
                color: #262626;
                @include adaptive-value("font-size", 20, 18, 1);

                font-family: Nunito;
                padding-left: 42px;
                margin-bottom: 15px;

                span {
                    font-weight: 900;
                }

                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 27px;
                    height: 27px;
                    background-image: url("@img/game-catalog/chekced.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .unchecked {
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 27px;
                    height: 27px;
                    background-image: url("@img/game-catalog/unchecked.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }

    // .flex__flex

    &__flex {
        @media (min-width: 769px) {
            display: flex;
            justify-content: space-between;

            &._revesrse {
                flex-direction: row-reverse;
            }
        }

        &:not(:last-of-type) {
            margin-bottom: 50px;
        }
    }

    // .flex__content

    &__content {
        @media (min-width: 1025px) {
            max-width: 1024px;
        }

        ._text {
            margin-top: 15px;

            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }

        .accordion {
            @include adaptive-value("margin-top", 50, 30, 1);
        }

        h2 {
            @include adaptive-value("margin-bottom", 50, 30, 1);
        }

        h3 {
            font-weight: 700;
            text-transform: uppercase;

            @include adaptive-value("font-size", 24, 20, 1);
        }

        img {
            margin-top: 25px;
            max-width: 100%;

            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }

        ol {
            &:not(:last-of-type) {
                margin-bottom: 40px;
            }

            & > :not(:last-child) {
                margin-bottom: 10px;
            }

            &[data-list="number"] {
                counter-reset: num;

                li {
                    counter-increment: num;

                    &:before {
                        content: counter(num) ".";
                    }
                }
            }

            &[data-list="marker"] {
                li {
                    &:before {
                        content: "";
                        border-radius: 50%;
                        background: linear-gradient(133deg, #ff008a 0%, #ff004d 100%);
                        margin-top: 4px;
                    }
                }
            }

            li {
                display: flex;

                &:before {
                    margin-right: 12px;
                    width: 9px;
                    height: 9px;
                    flex: 0 0 auto;
                }
            }
        }
    }

    // .flex__image

    &__image {
        max-width: 40%;
        margin-left: 35px;
        flex: 0 0 40%;

        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            margin-top: 20px;
            max-width: 73%;
            flex: unset;
            margin-inline: auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    // .flex-bigimage

    &-bigimage {
        .flex__image {
            transform: translate(100px, 0);

            @media (max-width: 1720px) {
                transform: translate(30px, 0);
            }

            @media (max-width: 1024px) {
                transform: translate(15px, 0);
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}
