.hero {
    position: relative;
    @include adaptive-value("margin-bottom", 70, 15, 1);

    .bgc {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: calc(100% - 1px);
        object-fit: cover;
    }

    .fishka {
        position: absolute;
        z-index: 2;
        left: 0;
        top: -28px;
        pointer-events: none;

        height: 634px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 125%;
        height: 83px;
        position: relative;
        z-index: 1;

        left: 50%;
        transform: translate(-50%, 0);
        margin-top: -13px;

        clip-path: ellipse(50% 100% at 50% 100%);
        background-color: #fff;
    }

    // .hero__container

    &__container {
    }

    // .hero__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        padding-top: 106px;
        padding-bottom: 116px;

        @media (max-width: 768px) {
            padding-top: 103px;
            padding-bottom: 75px;
        }
    }

    // .hero__left

    &__left {
        p {
            margin-top: 15px;
            max-width: 808px;
            color: #fff;

            @include adaptive-value("margin-bottom", 50, 30, 1);

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        h1 {
            @media (max-width: 768px) {
                text-align: center;
            }
        }

        div {
            @media (min-width: 769px) {
                display: flex;
                align-items: center;
            }

            & > :first-child {
                margin-right: 20px;

                @media (max-width: 768px) {
                    margin-right: auto;
                    margin-bottom: 12px;
                }
            }

            a {
                max-width: 270px;

                @media (max-width: 768px) {
                    max-width: 75%;
                    margin-inline: auto;
                }
            }
        }
    }

    // .hero__right

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 769px) {
            width: 50%;
            margin-left: 35px;
        }

        @media (max-width: 768px) {
            margin-bottom: 25px;
        }

        a {
            max-width: 221px;

            @include adaptive-value("height", 54, 39, 1);

            @media (max-width: 768px) {
                border-radius: 5px;
                max-width: 167px;
            }
        }

        // .hero__right-casino

        &-casino {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            img {
                width: 100%;
                max-width: 297px;
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    max-width: 349px;
                }
            }

            label {
                display: block;
                color: #fff;
                text-align: center;
                font-family: Montserrat;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 10px;

                @include adaptive-value("font-size", 24, 18, 1);

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            span {
                display: block;
                color: #fff;
                text-align: center;
                font-family: Montserrat;
                margin-bottom: 25px;

                @include adaptive-value("font-size", 20, 18, 1);

                @media (max-width: 768px) {
                    margin-bottom: 25px;
                }
            }
        }

        &-roulette {
            span {
                font-size: 16px;
                font-family: Montserrat;
                font-weight: 700;
                color: #fff;
                display: block;

                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            label {
                display: block;
                color: #fff;
                margin-top: 5px;
                margin-bottom: 20px;
                font-size: 16px;
                font-family: Montserrat;

                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            // .hero__right-roulette-row

            &-row {
                display: flex;

                & > :first-child {
                    margin-right: 5px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-bottom: 13px;
                        max-width: 297px;
                        width: 100%;
                    }
                }
            }
        }

        // .hero__right-review

        &-review {
            img {
                max-width: 100%;

                @media (max-width: 768px) {
                    max-width: 65.6%;
                    margin-inline: auto;
                }
            }
        }
    }

    // .hero-page

    &-page {
        .hero__body {
            @media (max-width: 768px) {
                flex-direction: column-reverse;
            }
        }

        .fishka {
            height: 669px;
        }
    }

    // .casino-review

    &.casino-review {
        .hero__left {
            div {
                span {
                    display: block;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    @include adaptive-value("font-size", 24, 20, 1);
                }

                label {
                    display: block;

                    color: #fff;
                    font-size: 16px;
                    font-family: Montserrat;
                }

                &.labels {
                    margin-top: 20px;

                    @media (max-width: 768px) {
                        justify-content: center;
                        text-align: center;

                        & > :first-child {
                            margin-right: 20px;
                            margin-bottom: 0;
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    a {
                        margin-bottom: 0;
                        max-width: 203px;
                        margin-inline: 0;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
